.welcome-page-block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.welcome-page-block h1 {
  white-space: nowrap;
}
.welcome-page-block span {
  font-family: PokemonFont;
  letter-spacing: 3px;
}
