<div class="col-md-11 app-block-margin">
  <h4 class="app-title">GAMES</h4>
  <div class="row">

    <div class="col-md-2">
      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="http://i015.radikal.ru/0806/1a/20add0471d51.png" alt=""></mdb-card-img>
          <div class="stripe dark">
            <a>
              <p>World of Warcraft
                <i class="fa fa-angle-right"></i>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>


    </div>
    <div class="col-md-2">

      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="https://media-hearth.cursecdn.com/avatars/217/551/635674514923106592.png"
                        alt=""></mdb-card-img>
          <div class="stripe light">
            <a>
              <p>Hearthstone
                <i class="fa fa-angle-right"></i>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
    </div>
    <div class="col-md-2">

      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="https://avatars.mds.yandex.net/get-pdb/28866/76475283-6152-44da-84b6-267b175c7e0b/s1200"
                        alt=""></mdb-card-img>
          <div class="stripe light">
            <a>
              <p>World of tanks
                <i class="fa fa-angle-right"></i>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
    </div>
    <div class="col-md-2">

      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img
            src="https://s.redditmedia.com/t5_dgidh/styles/profileIcon_fpfs2lsghn611.png?fit=crop&crop=faces%2Centropy&arh=1.0&w=256&h=256&s=0644cca1b5c9f5c7947eeec00ca9d8b7"
            alt=""></mdb-card-img>
          <div class="stripe light">
            <a>
              <p>Fortnite
                <i class="fa fa-angle-right"></i>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
    </div>
    <div class="col-md-2">

      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img
            src="https://orig00.deviantart.net/1e15/f/2013/313/5/9/runescape_icon_256x_by_gamingtutsdk-d6tl849.png"
            alt=""></mdb-card-img>
          <div class="stripe light">
            <a>
              <p>Runescape
                <i class="fa fa-angle-right"></i>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
    </div>
    <div class="col-md-2">

      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="https://static.techspot.com/images2/downloads/topdownload/2014/05/leagueoflegends.png"
                        alt=""></mdb-card-img>
          <div class="stripe dark">
            <a>
              <p>League of legends
                <i class="fa fa-angle-right"></i>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
    </div>
  </div>
  <div class="app-block-margin">
    <h4 class="app-title">TOP</h4>
    <div class="row">

      <div class="col-md-2">
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="http://i015.radikal.ru/0806/1a/20add0471d51.png" alt=""></mdb-card-img>
            <div class="stripe dark">
              <a>
                <p>World of Warcraft
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>


      </div>
      <div class="col-md-2">

        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://media-hearth.cursecdn.com/avatars/217/551/635674514923106592.png"
                          alt=""></mdb-card-img>
            <div class="stripe light">
              <a>
                <p>Hearthstone
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
      </div>
      <div class="col-md-2">

        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://avatars.mds.yandex.net/get-pdb/28866/76475283-6152-44da-84b6-267b175c7e0b/s1200"
                          alt=""></mdb-card-img>
            <div class="stripe light">
              <a>
                <p>World of tanks
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
      </div>
      <div class="col-md-2">

        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img
              src="https://s.redditmedia.com/t5_dgidh/styles/profileIcon_fpfs2lsghn611.png?fit=crop&crop=faces%2Centropy&arh=1.0&w=256&h=256&s=0644cca1b5c9f5c7947eeec00ca9d8b7"
              alt=""></mdb-card-img>
            <div class="stripe light">
              <a>
                <p>Fortnite
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
      </div>
      <div class="col-md-2">

        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img
              src="https://orig00.deviantart.net/1e15/f/2013/313/5/9/runescape_icon_256x_by_gamingtutsdk-d6tl849.png"
              alt=""></mdb-card-img>
            <div class="stripe light">
              <a>
                <p>Runescape
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
      </div>
      <div class="col-md-2">

        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://static.techspot.com/images2/downloads/topdownload/2014/05/leagueoflegends.png"
                          alt=""></mdb-card-img>
            <div class="stripe dark">
              <a>
                <p>League of legends
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
      </div>
    </div>
    <div class="row app-block-margin">
      <div class="col-md-2">
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="http://i015.radikal.ru/0806/1a/20add0471d51.png" alt=""></mdb-card-img>
            <div class="stripe dark">
              <a>
                <p>World of Warcraft
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>


      </div>
      <div class="col-md-2">

        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://media-hearth.cursecdn.com/avatars/217/551/635674514923106592.png"
                          alt=""></mdb-card-img>
            <div class="stripe light">
              <a>
                <p>Hearthstone
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
      </div>
      <div class="col-md-2">

        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://avatars.mds.yandex.net/get-pdb/28866/76475283-6152-44da-84b6-267b175c7e0b/s1200"
                          alt=""></mdb-card-img>
            <div class="stripe light">
              <a>
                <p>World of tanks
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
      </div>
    </div>
  </div>
  <div class="app-block-margin">
    <h4 class="app-title">HOT NEWS</h4>
    <div class="row">

      <div class="col-md-2">
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="http://i015.radikal.ru/0806/1a/20add0471d51.png" alt=""></mdb-card-img>
            <div class="stripe dark">
              <a>
                <p>World of Warcraft
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>


      </div>
      <div class="col-md-2">

        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://media-hearth.cursecdn.com/avatars/217/551/635674514923106592.png"
                          alt=""></mdb-card-img>
            <div class="stripe light">
              <a>
                <p>Hearthstone
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
      </div>
      <div class="col-md-2">

        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://avatars.mds.yandex.net/get-pdb/28866/76475283-6152-44da-84b6-267b175c7e0b/s1200"
                          alt=""></mdb-card-img>
            <div class="stripe light">
              <a>
                <p>World of tanks
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
      </div>
      <div class="col-md-2">

        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img
              src="https://s.redditmedia.com/t5_dgidh/styles/profileIcon_fpfs2lsghn611.png?fit=crop&crop=faces%2Centropy&arh=1.0&w=256&h=256&s=0644cca1b5c9f5c7947eeec00ca9d8b7"
              alt=""></mdb-card-img>
            <div class="stripe light">
              <a>
                <p>Fortnite
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
      </div>
      <div class="col-md-2">

        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img
              src="https://orig00.deviantart.net/1e15/f/2013/313/5/9/runescape_icon_256x_by_gamingtutsdk-d6tl849.png"
              alt=""></mdb-card-img>
            <div class="stripe light">
              <a>
                <p>Runescape
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
      </div>
      <div class="col-md-2">

        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://static.techspot.com/images2/downloads/topdownload/2014/05/leagueoflegends.png"
                          alt=""></mdb-card-img>
            <div class="stripe dark">
              <a>
                <p>League of legends
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
      </div>
    </div>
  </div>
</div>
