<form class="text-center border border-light p-5 bg-white" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

  <p class="h4 mb-4">Sign up</p>

  <!-- E-mail -->
  <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" formControlName="email"
         placeholder="E-mail" required>

  <!-- Password -->
  <input type="password" id="defaultRegisterFormPassword" class="form-control" formControlName="password"
         placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" required>
  <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
    At least 8 characters/digits
  </small>

  <!-- Sign up button -->
  <button mdbBtn color="info" block="true" class="my-4" [disabled]="!registrationForm.valid" type="submit">Sign in
  </button>
  <hr>
</form>
