<div class="container">
  <ul class="pokemon-list">
    <pokemon-list-item 
      class="pokemon" 
      *ngFor="let pokemon of pokemons"
      [pokemon]="pokemon"
      ></pokemon-list-item>
  </ul>
  <button (click)="loadPage($event)">Load more</button>
</div>

<!-- <a routerLink="/pokemon/{{pokemon._id}}">
  <img src="https://raw.githubusercontent.com/epam-js-may-2018/homework-7-js/master/pokemons/{{pokemon.id}}.png" alt={{pokemon.name}}>
</a>
<span>{{pokemon.name}}</span>
<button>Catch</button> -->