<div class="app-card-holder {{flipped ? 'flipped' : ''}}">
  <div class="app-card-front-side app-card">

    <img src="https://github.com/epam-js-may-2018/homework-7-js/raw/master/pokemons/{{data.id}}.png"
         class="services">

    <div class="stripe dark" *ngIf="isLoggedIn">
      <a>
        <p><span>{{data.name}}</span><br>
          <i class="fa fa-angle-right"></i>
        </p>
      </a>
    </div>
    <a class="rotate-btn" (click)="rotateCard()" *ngIf="isLoggedIn">
      <i class="fa fa-repeat"></i> Learn more
    </a>
    <div class="stripe light" *ngIf="!isLoggedIn">
      <a>
        <p><span>{{data.name}}</span><br>
          <i class="fa fa-angle-right"></i>
        </p>
      </a>
    </div>
    <a class="rotate-btn app-rotate-btn" *ngIf="!isLoggedIn">
      PLEASE AUTHORIZE TO LEARN MORE
    </a>
  </div>

  <div class="app-card-back-side app-card">

    <div class="app-content-holder">
      <img src="https://github.com/epam-js-may-2018/homework-7-js/raw/master/pokemons/{{data.id}}.png"
           class="services">
      <div class="app-date-holder" *ngIf="data.timestamp">
        DATE OF CAPTURE: {{data.timestamp | date:'medium'}}

      </div>
    </div>
    <div class="app-btn-holder">
      <button type="button" class="btn btn-indigo" (click)="catchPokemon(data.id)" *ngIf="!data.timestamp">CATCH
      </button>
      <button type="button" class="btn btn-indigo" (click)="releasePokemon(data.id)" *ngIf="data.timestamp">RELEASE
      </button>
      <button type="button" class="btn btn-indigo" (click)="moveToPokemonDetail(data.id)">DETAIL</button>
    </div>
    <div class="stripe dark">
      <a>
        <p><span>{{data.name}}</span><br>
          <i class="fa fa-angle-right"></i>
        </p>
      </a>
    </div>

    <a class="rotate-btn" (click)="rotateCard()">
      <i class="fa fa-undo"></i> CLICK HERE TO ROTATE BACK</a>

  </div>
</div>
