<div class="container">
  <form [formGroup]="loginForm" class="group">
    <div class="form-group group">
      <label for="name">
        Name*
      </label>
      <input
        type="text"
        formControlName="name"
        class="form-control"
        placeholder="Choose a name"
      >
      <div *ngIf="submitted && f.name.errors">
        <p *ngIf="f.name.errors.required">Name is required</p>
        <p *ngIf="f.name.errors.minlength">Too short</p>
        <p *ngIf="f.name.errors.maxlength">Too big</p>
      </div>
    </div>
    <div class="form-group group">
        <label for="password">
          Password*
        </label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          placeholder="Create a password"
        />
        <div *ngIf="submitted && f.password.errors">
          <p *ngIf="f.password.errors.required">Password is required</p>
          <p *ngIf="f.password.errors.minlength">Too short</p>
          <p *ngIf="f.password.errors.maxlength">Too big</p>
        </div>
    </div>
    <p>
      Already have an account? <a routerLink="/login">Log in</a>
    </p>
    <button 
      (click)="onSubmit(model)"
      type="submit" 
      class="btn"
    >
      Sign up
    </button>
  </form>
  <p *ngIf="errorMessage">
    {{errorMessage}}
  </p>
</div>