<form [formGroup]="loginForm" class="login-container">
  <mat-form-field>
    <label>
      <input matInput formControlName="email" placeholder="Enter your email" type="email">
    </label>
    <mat-error *ngIf="loginForm.controls.email.errors?.required">Email is required</mat-error>
    <mat-error *ngIf="loginForm.controls.email.errors?.email">This field should contain valid email</mat-error>
  </mat-form-field>
  <mat-form-field>
    <label>
      <input matInput formControlName="password" placeholder="Enter your password" type="password">
    </label>
    <mat-error *ngIf="loginForm.controls.password.errors?.required">Password is required</mat-error>
    <mat-error *ngIf="loginForm.controls.password.errors?.minlength">
      Wrong length of password
    </mat-error>
  </mat-form-field>
  <mat-error class="login-form__error-message"> {{errorMessage}} </mat-error>
  <button mat-button color="primary" (click)="send()" disabled="{{!loginForm.valid}}">{{"sing in" | uppercase}}</button>
</form>
