<header>
  <img
  src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Russian_Pokemon_logo.svg/1200px-Russian_Pokemon_logo.svg.png"
  alt="Pokemon"
  class="pokemon"
  >
</header>

<nav id="main">
  <ul *ngIf="isLoggedIn; else unLoggedIn">
    <li><a routerLink="/pokemons">Pokemons</a></li>
    <li><a routerLink="/pokemons/cathced"  routerLinkActive="active">My pokemons</a></li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>
  <ng-template #unLoggedIn>
    <ul>
      <li><a routerLink="/pokemons">Pokemons</a></li>
      <li><a routerLink="/signIn">Sign In</a></li>
      <li><a routerLink="/signUp">Sign Up</a></li>
    </ul>
  </ng-template>
</nav>
