<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
      <h3 class="text-center">Registration</h3>
      <form class="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="col-xs-12">
          <div class="form-group">              
            <input type="text" name="username" formControlName="username" class="form-control" aria-describedby="userName" placeholder="Введите Имя" />
            <small *ngIf="registrationForm.get('username').invalid && registrationForm.get('username').touched" id="userName" class="text-muted">
              User's name should contain more than 4 symbols
            </small>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <input type="email" name="email" formControlName="email" aria-describedby="email" class="form-control" placeholder="Ваш E-mail" />
            <small *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched" id="email" class="text-muted">
              Incorrect email
            </small>
          </div>
        </div>
        <div class="col-xs-12" formGroupName="password">
          <div class="form-group">
            <input type="password" name="password" formControlName="passwordOrigin" aria-describedby="password" in class="form-control" placeholder="Password" />
            <small *ngIf="registrationForm.get('password.passwordOrigin').invalid && registrationForm.get('password').touched" id="password" class="text-muted">
                Password should contain more than 6 symbols
            </small>
          </div>
        </div>
        <div class="col-xs-12" formGroupName="password">
          <div class="form-group">
            <input type="password" formControlName="passwordConfirm" aria-describedby="passwordConfirm" class="form-control" placeholder="One more password" />
            <p *ngIf="registrationForm.get('password').errors?.passwordsNotEqual &&
                registrationForm.get('password.passwordConfirm').touched" id="passwordConfirm" class="text-muted">
              Passwords are not equal
            </p>
          </div>
        </div>
        <p *ngIf="error" class="validation-note">{{error}}</p>
        <div class="text-center col-xs-12">
          <button class="btn btn-success" [disabled]="registrationForm.invalid" type="submit">Sign Up</button>
        </div>
      </form>
    </div>
  </div>