.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0.98);
  transition: transform 0.5s;
}

.container body.fixed-nav {
  transform: scale(1);
}

.pokemon-list {
  display: inherit;
  flex-wrap: wrap;
  list-style-type: none;
}

.pokemon {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 25%;
}
