<div class="root__container">
  <header class="main__header">

    <mat-toolbar color="primary">
      <div class="header__pokemons-buttons">
        POKEDEX
        <button mat-button routerLink="/pokemons">Pokemons</button>
        <div *ngIf="isAuthenticated().getValue()" class="header-buttons__caught">
          <button mat-button routerLink="/pokemons/caught">My pokemons</button>
        </div>
      </div>
      <div *ngIf="!isAuthenticated().getValue()">
        <button mat-button routerLink="/auth">Sing In</button>
        <button mat-button routerLink="/auth/register">Sing Up</button>
      </div>
      <div *ngIf="isAuthenticated().getValue()">
        <label class="header__user_name"> {{getUserInfo().name}} </label>
        <button mat-button (click)="logOut()">Log Out</button>
      </div>
    </mat-toolbar>

  </header>

  <!-- Main Content -->

  <main id="content">
    <mat-card class="main__container"><router-outlet></router-outlet></mat-card>
  </main>

  <!-- Footer -->

  <footer class="main__footer">
  </footer>
</div>
