img {
  width: 100%;
  height: auto;
}

.pokemon {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon-link {
  display: inherit;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
}