.app-catalog-cards-holder {
  display: flex;
  flex-wrap: wrap;
  app-flipping-card {
    width: 33%;
    position: relative;

  }
}

.app-btn-holder {
  width: 100%;
  padding: 20px;
  text-align: center;
  button {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
